<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col 16 s12">
                <h5 class="white-text">Close Your Tabs</h5>
                <p class="grey-text text-lighten-4">Sharing our project experience</p>
            </div>
            <div class="col 14 offset-12 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a href="https://github.com/m13kelore/c12.17_tabcleaner" class="grey-text text-lighten-3">Github</a>
                    </li>
                    <li>
                        <a href="http://www.closeyourtabs.com/about" class="grey-text text-lighten-3">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            2018 Close Your Tabs
        </div>
    </div>
</footer>