<h1>Welcome</h1>

<p>Welcome to Close Your Tabs Dev Blog</p>
<p>Our story as we bring an idea to full deployment.</p>

{{#if user}}
{{else}}
<a href="/auth/google" class="red darken-1 btn"><i class="fa fa-google left"></i>Login With Google</a>
{{/if}}
